@import 'https://fonts.googleapis.com/css?family=Asap:400,400i,500,600,700&display=swap';
@import './variables.scss';

$system-font:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
$font-family: 'Titillium Web', sans-serif;
html {
  min-width: 350px;
}
html, div, p, span, h1, h2, h3, h4, h5 {
  font-family: $font-family;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: $blue;
  margin: 0;
}

body {
  margin: .5rem 0;
}

.page {
  margin: 0 .5rem 1rem .5rem;
}

.heading1 {
  font-size:2.5rem;
  font-weight:500;
  line-height:3.25rem;
}

.heading2 {
  font-size:1.5rem;
  font-weight:500;
  line-height:2.25rem;
}

.heading3 {
  font-size:1rem;
  font-weight:500;
  line-height:1.875rem;
}

.parallaxHeading1 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

$spaces:
  0,
  2,
  4,
  8,
  12,
  16,
  24,
  32,
  40,
  48,
  56,
  64;

$spaceTypes: (
  'm': 'margin',
  'p': 'padding'
);

@function toRem($base) {
  @return calc($base / 16)  * 1rem;
};

@each $space in $spaces {
  @each $typeInitial, $type in $spaceTypes {
    .#{$typeInitial}-#{$space} {
      #{$type}: toRem($space);
    }
    .#{$typeInitial}y-#{$space} {
      #{$type}-top: toRem($space);
      #{$type}-bottom: toRem($space);
    }
    .#{$typeInitial}x-#{$space} {
      #{$type}-left: toRem($space);
      #{$type}-right: toRem($space);
    }
    .#{$typeInitial}b-#{$space} {
      #{$type}-bottom: toRem($space);
    }
    .#{$typeInitial}t-#{$space} {
      #{$type}-top: toRem($space);
    }
    .#{$typeInitial}l-#{$space} {
      #{$type}-left: toRem($space);
    }
    .#{$typeInitial}r-#{$space} {
      #{$type}-right: toRem($space);
    }
  }
}

